<footer class="page-footer indigo center-on-small-only mt-3">
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid" style="color: white">
        © since 2022 Creator:
        <a href="ormusai@gmail.com"> ormusai@gmail.com </a>
  
        <span style="float: right;">
          <a href="https://github.com/ormusai35" target="blank">GitHub</a>
        </span>
        <span style="float: right; margin-right: 6px;">
          <a href="https://www.linkedin.com/in/or-musai-a3b8bb144/" target="blank">LinkedIn</a>
          
        </span>
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <i class="fab fa-linkedin fa-xs"></i>