<div class="cart_item_image"><img src="{{cartLine.product.imageUrl}}" alt=""></div>
<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
    <div class="cart_item_name cart_info_col">
        <div class="cart_item_title">Description</div>
        <div class="cart_item_text">{{ cartLine.product.description }}</div>
    </div>
    <div class="cart_item_color cart_info_col">
        <div class="cart_item_title">Category</div>
        <div class="cart_item_text">{{ cartLine.product.category }}</div>
    </div>
    <div class="cart_item_quantity cart_info_col">
        <div class="cart_item_title">Quantity</div>
        <div class="cart_item_text">{{ cartLine.quantity }}</div>
    </div>
    <div class="cart_item_price cart_info_col">
        <div class="cart_item_title">Price</div>
        <div class="cart_item_text">{{ cartLine.product.price | currency}}</div>
    </div>
    <div class="cart_item_total cart_info_col">
        <div class="cart_item_title">Total</div>
        <div class="cart_item_text">{{ cartLine.product.price * cartLine.quantity | currency}}</div>
    </div>
</div>