<div class="container mainbox col-md-5 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="card">
        <div class="card-body">
            <form #signUpForm="ngForm" (ngSubmit)="signUp()" id="signupform" class="form-horizontal" role="form">
                <span style="float:right; font-size: 85%; position: relative; margin-top: -10px;">
                    <a id="signinlink" routerLink="/login">Sign In</a>
                </span>
 
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">Email</label>
                    <div class="col-md-11">
                        <input type="text" 
                               class="form-control" 
                               name="email" 
                               placeholder="Email Address"
                               required
                               [(ngModel)]="sigunUpUser.email">
                    </div>
                </div>
                    
                <div class="form-group">
                    <label for="username" class="col-md-4 control-label">User Name</label>
                    <div class="col-md-11">
                        <input type="text" 
                               class="form-control" 
                               name="userName" 
                               placeholder="User Name"
                               required
                               [(ngModel)]="sigunUpUser.userName">
                    </div>
                </div>
               
                <div class="form-group">
                    <label for="password" class="col-md-4 control-label">Password</label>
                    <div class="col-md-11">
                        <input type="password" 
                               class="form-control" 
                               name="password" 
                               placeholder="Password"
                               required
                               [(ngModel)]="sigunUpUser.password">
                    </div>
                </div>

                <div class="form-group">                                     
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Sign Up</button>
                    </div>
                </div>   

            </form>
         </div>
    </div>

</div>
